<div class="surface-ground dashboard p-3 md:p-4">
    <div class="row">

        <!-- STATISTICS -->
        <app-dashboard-circular-large 
            [ringStats]="ringStats" 
            [smallStats]="smallStats" 
            [wideStats]="wideStats"
            [isMobile]="isMobile">
        </app-dashboard-circular-large> 


        <!-- SEARCH -->
        <app-dashboard-search [isMobile]="isMobile" ></app-dashboard-search>

        <!-- TABLE -->
        <app-dashboard-table [rows]="rows" ></app-dashboard-table> 

    </div>
</div>