:host {
    display: block;
}

.surface-ground {
    background-color: red;
}

.dashboard {
    --bg: #0f1419;
    --card: #151d26;
    --text: #9aa6b2;
    --white: #e8f0f7;
    --accent: #13c7cf;
    /* cyan */
    background: #252836;
    min-height: 100dvh;
}
 
