 
<aside class="app-sidebar" >
    <div class="logo">  
        <img [width]="isLargeMode ? 200 : 100"  [height]="isLargeMode ? 100 : 100" [src]="'images/logo/' + (isLargeMode ? 'IdealSolutions-HorizontalLockup-EN-White.png' : 'IdealSolutions-VerticalLockup-EN-White.png')" alt="logo">
    </div> 
    <div class="toggle-bar" (click)="toggleSidNavView()" >
        <i class="pi pi-bars"></i>
    </div>  

    @if (isLargeMode) {  
        <app-sidenav-items *ngFor="let item of items" [item]="item"></app-sidenav-items>    
    } @else {  
        <div style="display: flex; flex-direction: column; align-items: center;  height: 100%; position: relative; top: 100px;"> 
            <app-sidenav-item-icon-mode  *ngFor="let item of items" [item]="item"></app-sidenav-item-icon-mode>   
        </div>
    } 
    
</aside> 