 .layout {
     display: grid;
     grid-template-columns: 1fr;
 }

 .content {
     padding: 1rem;
 }

 @media (min-width: 992px) {
     .layout {
         grid-template-columns: 260px 1fr;
     }

     .content.content--with-sidebar {}
 }