<form class="grid gap-4 max-w-md" [formGroup]="form" (ngSubmit)="submit()">

    <app-text-field label="Full name" formControlName="name" [required]="true" placeholder="Jane Doe">
    </app-text-field>

    <app-text-field label="Email" type="email" formControlName="email" [required]="true" placeholder="name@example.com">
    </app-text-field>

    <app-text-field label="Age" type="number" formControlName="age" placeholder="18">
    </app-text-field>

    <button pButton type="submit" label="Save" [disabled]="form.invalid"></button>
</form>