@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css"; 
 
:root {
    --text-white-color-main: #CECBDE;
    --text-white-color-secondary: #706D7E;
    --text-white-color-for-table: #9E9BAD;
    --primary-color: #00C5D6;
    --secondary-color: #60BE7A;
    --page-background: #252836;
    --side-nav-background: #10141A;
}


html,
body {
    overflow-x: hidden;
}

html,
body {
    overflow-x: hidden;
    overflow-x: clip;
}
 


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hvr-grow {
    transition: all ease-in-out .3s;
}

.hvr-grow:hover {
    transition: all ease-in-out .3s;
    transform: scale(1.1);
}