<a mat-list-item [ngStyle]="{'padding-left': (depth * 15) + 'px' }" (click)="onItemSelected(item)"  
    [routerLink]="item.route"   class="menu-list-item" [class.active]="isActive(item.route)">

    <div class="image-container"  [class.active]="isActive(item.route)" >
        <img [src]="item.icon" alt="">
    </div>

    <span class="menu-item-text ellipsis "  [class.active]="isActive(item.route)">  </span>
    <span fxflex class="twistie-separator"></span> 
</a>


<!-- Children -->
<!-- <div class="children" [class.active]="navService.activeTab == item.label ">
    <app-sidenav-item-icon-mode *ngFor="let child of item.children" [item]="child" [depth]="depth+1" [routerLink]="child?.route"></app-sidenav-item-icon-mode>
</div> --> 